.user{
       display:inline-block;
       padding: 12px;
       background-color: slateblue;
      .user-name,.user-nickname,.user-role{
          margin: 0;
          padding: 0;
          background-color: skyblue;
      }
}